
<div class="d-flex container " id="container-general">
    <div class="border bg-dark-subtle" id="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="border d-flex" id="principal">

        <div class="border container-tareas">
            <app-listar-tareas [titulo]= "'Listar tareas'" [tarea_completada]=false [data]="task_incomplete" 
            (comunicaFormAddTarea)= "recibeInfoAgregarTarea($event)" 
            (comunicaIdEliminar)= "recibeIdEliminarTarea($event)"
            (formunicaEstadoEditar)= "comunicaEstadoEditar($event)"
            (emisorEstadoChecked)="recibeEstadoTarea($event)">
            </app-listar-tareas>

            <app-listar-tareas [titulo]= "'Tareas completadas'" [tarea_completada]=true [data]="task_complete" 
            (emisorEstadoChecked)="recibeEstadoTarea($event)">                
            </app-listar-tareas>
        </div>

        <div class="border container-registro" *ngIf="mostrarFormReg">
            <app-registrar-tareas (datosFormulario)="addDataForm($event)" (cancelarRegistroFormulario)="quitarRegistroForm($event)">
            </app-registrar-tareas>
        </div>
    </div>
</div>
